/* ------- Important ! Please at least keep the last part of this CSS ----------- */
/* ------- that adapts content width and height so that aspect ratio  ----------- */
/* ------- is kept between 16/9 and 4/3 (landscape orientation)         ----------- */

/* Normalize margin and padding to ease elements positioning */
*{
    padding:0;
    margin:0;
}

body{
    background-color: white;
    color: black;
    overflow: hidden;   /* to avoid slider bugs on some browsers */
    font-family: sans-serif;
}


/* ---------- Important media queries for easy responsive content :-) ----------------- */
/* Whatever the device used, the content will be displayed full width and height if      */
/* the aspect ratio is between 4/3 and 16/9. If not it is locked to either 4/3 or 19/9  */

/* When the aspect ratio is smaller that 4/3, display a 4/3 content */
#container{
    position: relative; /* To set the size of the container to 100% of the visible viewport height AND for absolute positioning of child elements*/ 
    margin-top: calc((100vh - 100 * 3vw / 4) / 2); /* Add black bands on top and bottom */
    height: calc(100 * 3vw / 4); /* Force 4/3 aspect ratio */
}

/* We set a default font size here. It will be the base for all other font sizes */
/* Here the font size is proportional to content height */
body{
    font-size: calc(15vw * 3 / 4);
}

/* Fill the whole viewport when its aspect ratio is between 16/9 and 4/3 */
@media screen and (min-aspect-ratio: 4/3) {
    #container{
        margin-top: 0; /* reset margin-top */
        height: 100vh; /* content is full height (and full width because of the default rule for container width */
        width: 100vw; /* content is full width */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content height */
    body{
        font-size: 15vh;
    }
}

/* The content is displayed at 16/9 If the aspect ratio is higher that 16/9  */ 
@media screen and (min-aspect-ratio: 16/9) {
    #container{
        margin-top: 0; /* reset top margin */
        height: 100vh;   /* content is full height */
        margin-left: calc((100vw - (100 * 16vh / 9)) / 2); /* move the content half the height to the left */
        width: calc(100 * 16vh / 9); /* adjust width so that aspect ratio is 9/16 */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content height */
    body{
        font-size: 15vh;
    }
}

