/* ------- Important ! Please at least keep the last part of this CSS ----------- */
/* ------- that adapts content width and height so that aspect ratio  ----------- */
/* ------- is kept between 9/16 a,d 3/4 (portait orientation)         ----------- */

/* Normalize margin and padding to ease elements positioning */

@font-face {
    font-family: Ivy;
    src: url(../data/Polices-Labeleco/Ivystyle\ Sans\ Regular.otf);
}

@font-face {
    font-family: IvyBold;
    src: url(../data/Polices-Labeleco/Ivystyle\ Sans\ Bold.otf);
}

@font-face {
    font-family: IvySemiBold;
    src: url(../data/Polices-Labeleco/Ivystyle\ Sans\ Semibold.otf);
}


*{
    padding:0;
    margin:0;
}

body{
    height: 100vh;
    background-color: #1D0058;
    overflow: hidden;   /* to avoid slider bugs on some browsers */
    font-family: sans-serif;
}

header{
    height: 75px;
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

#logo{
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(70deg) brightness(100%) contrast(100%);
    height: 75px;
    width: 75px;
}

#headerButtonsNav{
    display: flex;
    justify-content: center;
}

#headerButton{
    margin: 0;
  background-color: #1D0058;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  font-family: IvySemiBold;
}

#headerButton:hover{
    color: #FFD400;
    text-decoration: solid underline #FFD400;
}

main{
    display: flex;
    justify-content: center;
    padding: 85px;
}

#pinLayer{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#regionMap{
    width: 75vw;
    height: 75vh;
}

.entreprisePin{
    position: absolute;
    font-size: 25px;
}

#E1{
    top: 40%;
    left: 40%;
}

#E2{
    top: 15%;
    left: 60%;
}


#E3{
    top: 10%;
    left: 20%;
}


#E4{
    top: 30%;
    left: 80%;
}


#E5{
    top: 45%;
    left: 65%;
}

/* ---------- Important media queries for easy responsive content :-) ----------------- */
/* Whatever the device used, the content will be displayed full width and height if      */
/* the aspect ratio is between 3/4 and 9/16. If not it is locked to either 3/4 or 9/16  */

/* When the aspect ratio is smaller that 3/4, display a 3/4 content */
#container{
    position: fixed; /* To set the size of the container to 100% of the visible viewport height AND for absolute positioning of child elements*/ 
    height: 100%;   /* even on mobile devices with url or navigation bars */
    margin-left: calc((100vw - 100 * 3vh / 4) / 2); /* Add black bands on left and right */
    width: calc(100 * 3vh / 4); /* Force 3/4 aspect ratio */
}

/* We set a default font size here. It will be the base for all other font sizes */
/* Here the font size is proportional to content width */
body{
    font-size: calc(15vh * 3 / 4);
}

/* Fill the whole viewport when its aspect ratio is between 9/16 and 3/4 */
@media screen and (max-aspect-ratio: 3/4) {
    #container{
        margin-left: 0; /* reset margin-left */
        width: 100vw; /* content is full width (and full height because of the default rule for container height */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 15vw;
    }
}

/* The content is displayed at 9/16 If the aspect ratio is higher that 9/16  */ 
@media screen and (max-aspect-ratio: 9/16) {
    #container{
        margin-left: 0; /* reset left margin */
        width: 100vw;   /* content is full width */
        margin-top: calc(-50 * 16vw / 9); /* move the content half the height to the top */
        top:50%; /* then center it ! */
        height: calc(100 * 16vw / 9); /* adjust height so that aspect ratio is 9/16 */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 15vw;
    }
}

